<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>Contacts</b>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" routerLink="/new">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment value="Friend" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Friend">
      <ion-label>Friends</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Family">
      <ion-label>Family</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'all'">
      <ion-item *ngFor="let contact of contacts" [routerLink]="['contact/', contact.id]">
        <ion-thumbnail slot="start">
          <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png">
        </ion-thumbnail>
        <h6>{{contact.firstName}} {{contact.lastName}}</h6>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Friend'">
      <ion-item *ngFor="let contact of contactsFiltered" [routerLink]="['contact/', contact.id]">
        <ion-thumbnail slot="start">
          <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png">
        </ion-thumbnail>
        <h6>{{contact.firstName}} {{contact.lastName}}</h6>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Family'">
      <ion-item *ngFor="let contact of contactsFiltered" [routerLink]="['contact/', contact.id]">
        <ion-thumbnail slot="start">
          <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png">
        </ion-thumbnail>
        <h6>{{contact.firstName}} {{contact.lastName}}</h6>
      </ion-item>
    </ion-list>
  </div>
</ion-content>