<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" [routerLink]="['edit']">
        <ion-icon slot="start" name="pencil"></ion-icon>Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-thumbnail>
        <img src="'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png'" />
      </ion-thumbnail>
      <ion-card-title> {{contact[0].firstName}} {{contact[0].lastName}} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Phone</ion-label>
        <p color="tertiary">{{contact[0].phone}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <p>{{contact[0].email}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <p>{{contact[0].category}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
