<ion-header>
  <ion-toolbar> 
    <ion-buttons slot="start">
      <ion-button routerLink="/home" color="tertiary">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">New Contact</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addContact()" color="tertiary">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="tertiary">
    <ion-img [src]="'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png'"></ion-img>
    <form action="" [formGroup]="contactForm">
      <ion-item color="light">
          <ion-label position="floating">FirstName</ion-label>
          <ion-input type="text" placeholder="First Name" formControlName="firstName"></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-label position="floating">LastName</ion-label>
          <ion-input type="text" placeholder="Last Name" formControlName="lastName"></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-label position="floating">Phone</ion-label>
          <ion-input type="text" placeholder="Phone" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-label>Category</ion-label>
          <ion-select placeholder="Select One" formControlName="category">
            <ion-select-option value="Friend" >Friend</ion-select-option>
            <ion-select-option value="Family">Family</ion-select-option>
          </ion-select>
        </ion-item>
    </form>
  </ion-card>
</ion-content>
